.team {
    padding: 2em;
    padding-top: 3em;
    position: relative;
}

.colorMode-switch {
    position: absolute;
    top: 3px;
    right: 160px;

    display: flex;
    align-items: center;
}

input.input_team-mainColor {
    position: absolute;
    top: 15px;
    right: 100px;
    
    cursor: pointer;
}

input.input_team-backgroundColor {
    position: absolute;
    top: 15px;
    right: 30px;
    
    cursor: pointer;
}

.team__title {
    display: flex;
    flex-direction: column;

}

.team__title h3 {
    font-family: var(--titles-font);
    font-weight: 400;
    font-size: 2rem;

    display: inline;
    text-align: center;
}

.team__title hr {
    width: 1.9em;
    border: 3px solid;
    border-radius: 1px;
    display: block;
    margin: auto;

    margin-top: 0.5em;
    margin-bottom: 2.7em;
}

.team__collaborators {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}