.form {
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
    /* border: #d0cfcf solid 1px; */

    padding: 0.2em 0;
    margin: 4em 9em;

    animation: openForm 1s ease-in-out;
}

@keyframes openForm {
    from {
        max-height: 0;
        opacity: 0;
      }
      to {
        max-height: 100%;
        opacity: 1;
      }
    }

.field {
    width: 70%;
    margin: auto;
}

.field h3 {
    font-family: var(--titles-font);
    font-weight: 400;
    font-size: 2rem;

    margin-top: 0.5em;
    margin-bottom: 1em;
}

.field label {
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 1.125rem;

}

.field input, .field select{
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;

    border: none;
    padding: 2em;
    
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);

    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1rem;

    box-sizing: border-box;

}

.field select {
    cursor: pointer;
    
    
}

.field input::placeholder {
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1rem;
}

.field .submitBtn {
    background-color: #6278F7;
    border-radius: 10px;

    text-align: center;
    padding: 1.5em;
    width: 8em;

    margin-top: 2em;
    margin-bottom: 1.5em;

    font-family: var(--text-font);
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFF;

    cursor: pointer;
    transition: 0.1s;
}

.field .submitBtn:hover {
    background-color:#4f68f0;
}

@media screen and (max-width: 744px) {
    .form {
        margin: 4em 1em;
    }

    .field {
        width: 90%;
    }
}